/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; }

#root,
#__next {
  isolation: isolate; }

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  background-color: #fafafa; }

body {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header-big {
  font-size: 3.5rem;
  color: black;
  font-weight: 700; }

.card {
  width: 50vw;
  border: 1px solid #f0f0f0;
  background-color: white;
  border-radius: 1rem;
  padding: 6rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .card {
      width: 90vw;
      padding: 3rem; } }

.header {
  width: 100%;
  background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1649670971/FrontendMentor/CrowdFunding%20Page/image-hero-desktop_kczrwq.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  padding: 4rem 20rem; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 3rem 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 3rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1649670970/FrontendMentor/CrowdFunding%20Page/image-hero-mobile_hlaa2l.jpg");
      padding: 5.5rem 3rem; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .nav__links {
    display: flex;
    list-style: none;
    z-index: 99; }
    @media only screen and (max-width: 37.5em) {
      .nav__links {
        visibility: hidden;
        display: none; } }
  .nav__item {
    margin-left: 3rem; }
  .nav__link:link, .nav__link:visited {
    display: block;
    transition: all 0.2s;
    text-decoration: none;
    color: white;
    font-size: 1.8rem; }
  .nav__button {
    display: none;
    visibility: hidden; }
    @media only screen and (max-width: 37.5em) {
      .nav__button {
        display: block;
        visibility: visible;
        position: fixed;
        top: 6rem;
        right: 1.5rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
        width: 5rem;
        height: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav__icon {
      position: relative;
      margin-top: 1.4rem; }
      .nav__icon, .nav__icon::before, .nav__icon::after {
        width: 2.5rem;
        height: 3px;
        background-color: white;
        display: inline-block; }
      .nav__icon::before, .nav__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .nav__icon::before {
        top: -0.8rem; }
      .nav__icon::after {
        top: 0.8rem; }
      .nav__icon:hover {
        transition: all 0.3s; }
        .nav__icon:hover::before {
          top: -0.9rem; }
        .nav__icon:hover::after {
          top: 0.9rem; } }
