// COLORS
$color-primary-moderate-cyan: hsl(176, 50%, 47%);
$color-primary-dark-cyan: hsl(176, 72%, 28%);

$color-neutral-black: hsl(0, 0%, 0%);
$color-neutral-dark-gray: hsl(0, 0%, 48%);
$color-neutral-light-gray: hsl(0, 0%, 98%);
$color-neutral-light-gray-darkened: darken(
    $color-neutral-light-gray,
    $amount: 4
);
$color-neutral-white: white;

// FONT
$default-font-size: 1.6rem;
$font-size-nav: 1.8rem;
$font-size-header-big: 3.5rem;
$font-size-header-medium: 2.3rem;

$font-weight-heavy: 700;
$font-weight-medium: 500;
$font-weight-light: 400;
