// COLORS
$color-primary-moderate-cyan: hsl(176, 50%, 47%);
$color-primary-dark-cyan: hsl(176, 72%, 28%);

$color-neutral-black: hsl(0, 0%, 0%);
$color-neutral-dark-gray: hsl(0, 0%, 48%);
$color-neutral-white: white;

// FONT
$default-font-size: 1.6rem;
$-font-size-nav: 1.8rem;
