.project {
    width: 53vw;
    margin-top: -12rem;

    &-logo {
        position: relative;
        width: 7.5rem;
        top: -6rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.info {
    width: 53vw;
}
.about {
    width: 53vw;
}
