.project {
    width: 50vw;
    margin-top: -12rem;

    &-logo {
        position: relative;
        width: 7.5rem;
        top: -10rem;
        margin-bottom: -7rem;
    }
}
.stats {
    width: 50vw;
}
.about {
    width: 50vw;
}
