.btn {
    background-color: $color-primary-moderate-cyan;
    border: none;
    font-size: $font-size-nav;
    color: $color-neutral-white;
    font-weight: $font-weight-heavy;
    padding: 3.2rem 4.5rem;
    border-radius: 5rem;
    cursor: pointer;

    &:hover,
    &:active {
        background-color: $color-primary-dark-cyan;
    }

    &-bookmark {
        color: $color-neutral-dark-gray;
        background: url("https://res.cloudinary.com/kreiva/image/upload/v1649670969/FrontendMentor/CrowdFunding%20Page/icon-bookmark_q5y1wk.svg")
            no-repeat $color-neutral-light-gray-darkened;
        background-position: 0% 50%;
        background-size: 29%;
        padding-left: 8rem;

        &:hover {
            background-color: $color-neutral-light-gray-darkened;
        }
        &:focus {
            // color: $color-primary-dark-cyan;
            filter: opacity(0.5) drop-shadow(0 0 0 $color-primary-dark-cyan)
                saturate(350%);
            background-blend-mode: luminosity;
        }
    }

    &-inactive {
        background-color: $color-neutral-dark-gray;
        cursor: not-allowed;

        &:hover {
            background-color: $color-neutral-dark-gray;
        }
    }

    &-close {
        position: relative;
        display: block;
        background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1649670969/FrontendMentor/CrowdFunding%20Page/icon-close-modal_t3wc9h.svg);
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        text-align: right;
        left: 100%;
    }

    &-input {
        width: 15rem;
        outline: none;
        border: none;
        font-size: $default-font-size;
        color: $color-neutral-black;
        font-weight: $font-weight-heavy;
        padding: 2rem 3rem;
        border-radius: 5rem;
        cursor: pointer;
        border: 2px solid $color-primary-moderate-cyan;
        margin-right: 2rem;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
