.btn {
    background-color: $color-primary-moderate-cyan;
    border: none;
    font-size: $font-size-nav;
    color: $color-neutral-white;
    font-weight: $font-weight-heavy;
    padding: 1.4rem 4.5rem;
    border-radius: 5rem;
}
