.btn {
    background-color: $color-primary-moderate-cyan;
    border: none;
    font-size: $font-size-nav;
    color: $color-neutral-white;
    font-weight: $font-weight-heavy;
    padding: 1.7rem 4.5rem;
    border-radius: 5rem;
    cursor: pointer;

    &:hover,
    &:active {
        background-color: $color-primary-dark-cyan;
    }

    &-bookmark {
        background-color: $color-neutral-light-gray-darkened;
        color: $color-neutral-dark-gray;
        background-image: url("https://res.cloudinary.com/kreiva/image/upload/v1649670969/FrontendMentor/CrowdFunding%20Page/icon-bookmark_q5y1wk.svg");
        background-repeat: no-repeat;
    }
}
