.card {
    width: 100%;
    border: 1px solid darken($color-neutral-light-gray, $amount: 4);
    background-color: $color-neutral-white;
    border-radius: 1rem;
    padding: 6rem;
    margin-bottom: 3rem;

    @include respond(phone) {
        width: 100%;
        padding: 3rem;
    }

    &-project {
        display: flex;
        flex-direction: column;
    }
}
