.card {
    width: 100%;
    border: 1px solid $color-neutral-light-gray-darkened;
    background-color: $color-neutral-white;
    border-radius: 1rem;
    padding: 6rem;
    margin-bottom: 3rem;

    @include respond(tab-port) {
        padding: 7rem 5rem;
    }
    @include respond(phone) {
        padding: 5rem 3rem;
    }

    &-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond(phone) {
            text-align: center;
        }
    }

    &-modal {
        display: flex;
    }

    &-addon {
        position: relative;
        border: none;
        border-top: 1px solid $color-neutral-light-gray-darkened;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
        margin: 0;
        padding-top: 4rem;
    }

    &-radio {
        display: grid;
        place-content: center;
        appearance: none;
        background-color: #fff;
        margin: 0;
        border: 2px solid $color-neutral-light-gray-darkened;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 3rem;

        &::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1rem 1rem $color-primary-dark-cyan;
        }
        &:checked::before {
            transform: scale(3);
        }
    }

    &__sections {
        display: flex;
        margin-bottom: 5rem;

        &-section {
            width: 33.3%;

            &:not(:first-child) {
                border-left: 2px solid $color-neutral-light-gray-darkened;
                padding-left: 5rem;

                @include respond(phone) {
                    border-top: 2px solid $color-neutral-light-gray-darkened;
                    border-left: none;
                    padding-left: 0;
                    padding-top: 4rem;
                    text-align: center;
                }
            }
        }

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
        }
    }
}
