.header-big {
    font-size: $font-size-header-big;
    color: $color-neutral-black;
    font-weight: $font-weight-heavy;
    margin-right: 1rem;

    @include respond(phone) {
        line-height: 4rem;
        margin-bottom: 3rem;
    }
}

.header-medium {
    font-size: $font-size-header-medium;
    color: $color-neutral-black;
    font-weight: $font-weight-heavy;
    margin-bottom: 3rem;
    margin-right: 1rem;

    @include respond(phone) {
        margin-bottom: 1rem;
    }
}

.bidding {
    color: $color-primary-moderate-cyan;
    font-size: $font-size-nav;
    font-weight: $font-weight-medium;
    margin-bottom: 3rem;

    @include respond(phone) {
        margin-bottom: 2rem;
    }
}
